h2 {color: blanchedalmond;
}


.parallax img {
    width: 100%
}
body{
    background-color: black;
}

.currentmodels {
    color: antiquewhite;
}

h2, .nav{
    font-family: 'DM Serif Text', serif;
}